---
repos:
  - repo: https://github.com/UCL-MIRSG/.github
    rev: v0.225.0
    hooks:
      - id: mirsg-hooks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: v0.20.0
    hooks:
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/k3s-cluster
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/k3s-cluster/provision
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/kairos-k3s-cluster
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/virtual-machine
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/kubeconfig
      - id: terraform-docs-go
        args:
          - markdown
          - --output-file
          - README.md
          - modules/vault-k8s-config
