k3s:
  enabled: true
  args:
    - --disable=traefik,servicelb
  %{~ if length(k3s_extra_args) > 0 ~}
    %{~ for arg in k3s_extra_args ~}
    - ${arg}
    %{~ endfor ~}
  %{~ endif ~}
  %{~ if length(k3s_oidc_args) > 0 && k3s_oidc_admin_group != "" ~}
    %{~ for arg in k3s_oidc_args ~}
    - ${arg}
    %{~ endfor ~}
  %{~ endif ~}
