k3s:
  enabled: true
  args:
  %{~ for arg in k3s_args ~}
    - ${arg}
  %{~ endfor ~}
  %{~ if length(k3s_oidc_args) > 0 && k3s_oidc_admin_group != "" ~}
    %{~ for arg in k3s_oidc_args ~}
    - ${arg}
    %{~ endfor ~}
  %{~ endif ~}
