---
- name: Download metallb manifest
  ansible.builtin.get_url:
    url:
      https://raw.githubusercontent.com/metallb/metallb/{{ metallb_version
      }}/config/manifests/metallb-native.yaml
    dest: /tmp/metallb.yaml
    mode: "0440"

- name: Apply metallb manifest
  kubernetes.core.k8s:
    state: present
    src: /tmp/metallb.yaml

- name: Wait for metallb pods
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: metallb-system
    wait: true
    wait_condition:
      type: Ready
    wait_timeout: 90

- name: Wait for metallb controller
  kubernetes.core.k8s_info:
    kind: Deployment
    name: controller
    namespace: metallb-system
    wait: true
    wait_condition:
      type: Available
    wait_timeout: 90

- name: Wait for metallb apiservice
  kubernetes.core.k8s_info:
    kind: APIService
    name: v1beta1.metallb.io
    namespace: metallb-system
    wait: true
    wait_condition:
      type: Available
    wait_timeout: 90

- name: Combine cluster VIPs
  ansible.builtin.set_fact:
    cluster_vips:
      "{{ [cluster_api_vip] + (cluster_additional_vips | from_yaml) }}"

- name: Metallb kube-apiserver AddressPool
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: addresspool-{{ idx }}
        namespace: metallb-system
      spec:
        addresses:
          - "{{ item }}/32"
  loop: "{{ cluster_vips | from_yaml }}"
  loop_control:
    index_var: idx

- name: Metallb kube-apiserver L2Advertisement
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: advertisement-{{ idx }}
        namespace: metallb-system
      spec:
        ipAddressPools:
          - addresspool-{{ idx }}
  loop: "{{ cluster_vips | from_yaml }}"
  loop_control:
    index_var: idx
