---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  linting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Cache ansible & pre-commit
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |-
            ~/.ansible
            ~/.cache/pre-commit
          # yamllint disable-line rule:quoted-strings
          key: "\
            cache-\
            ${{
            hashFiles('./modules/k3s-cluster/provision/ansible/requirements.yaml')
            }}-\
            ${{ hashFiles('./modules/vault-k8s-config/requirements.yaml') }}-\
            ${{ hashFiles('.pre-commit-config.yaml') }}\
            "

      - name: Set up python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: 3.13

      - name: Install terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Install ansible
        run: python -m pip install ansible

      - name: Install pre-commit
        run: python -m pip install pre-commit

      - name: Install k3s-cluster ansible requirements
        run:
          ansible-galaxy install -r
          ./modules/k3s-cluster/provision/ansible/requirements.yaml --force

      - name: Install vault-k8s-config ansible requirements
        run:
          ansible-galaxy install -r ./modules/vault-k8s-config/requirements.yaml
          --force

      - name: Run pre-commit
        run: pre-commit run --all-files --color always --verbose
