---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  linting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Cache prek
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.cache/prek
          key: cache-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up uv
        uses: astral-sh/setup-uv@06e4edb239928eb926db9fa84abd11632bf44baa # v7
        with:
          activate-environment: true
          python-version: 3.14

      - name: Install prek
        run: uv pip install prek

      - name: Install ansible
        run: uv pip install ansible

      - name: Install k3s-cluster ansible requirements
        run:
          uv run ansible-galaxy install -r
          ./modules/k3s-cluster/provision/ansible/requirements.yaml --force

      - name: Install vault-k8s-config ansible requirements
        run:
          uv run ansible-galaxy install -r
          ./modules/vault-k8s-config/requirements.yaml --force

      - name: Set up terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Run prek
        run: uv run prek run --all-files --color always --verbose
